@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

input,
textarea,
button {
  @apply font-sans;
}

